.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  height: 100vh;

  background-image: url(../images/icons/header-bg.png);
  background-position: center;
  background-size: cover;

  &__title {
    margin: 0;

    font-size: 36px;
    font-weight: 700;

    font-style: bold;
    line-height: 100%;
    letter-spacing: 0;
    color: #fff;

    @include on-tablet {
      font-size: 40px;
    }
  }

  &__bottom {
    padding-bottom: 40px;

    @include content-padding-in-line;

    @include on-tablet {
      padding-bottom: 64px;
    }
  }
}
